<!DOCTYPE html>
<html lang="en" height="100vh">
<head>
    <link rel="stylesheet" href="/static/css/vars.css"></link>
    <link rel="stylesheet" href="/static/css/center.css"></link>
    <style>
        * {
            box-sizing: border-box;
            color: var(--def-fg);
            font-family: var(--def-fn);
        }
        html, body{
            margin: 0px;
            padding: 0px;
            height: 100%;
        }
        a {
            text-decoration: none;
        }
        #full-panel {
            height: 100%;
            background: var(--def-bg);
        }
        #main-text {
            font-size: 33vh;
            font-weight: 500;
        }
    </style>
    <meta charset="UTF-8">
    <title>Am I busy?</title>
</head>
<body>
    <div class="center-container" id="full-panel">
        <div id="main-text">
            <a href="/home">Yes,<br/>I am</a>
        </div>
    </div>
</body>
</html>